services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./src:/var/www/html/api-multigateway/src
    ports:
      - "8080:8080"
    depends_on:
      - php
    networks:
     - payment-network

  php:
    build:
      context: .
      dockerfile: Dockerfile.php
    volumes:
      - .:/var/www/html/api-multigateway/
    ports:
      - "9001:9003"
    networks:
     - payment-network

networks:
  payment-network:
    driver: bridge